<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>MetalSlugFontReborn</title>
    <link rel="stylesheet" href="/static/css/minified/home.min.css"/>
    <link rel="icon" href="/static/assets/icons/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/static/manifest.json" />
    <script src="/static/js/minified/fonts.min.js"defer></script>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1e1e1e"/>
    <meta name="description" content="A tool for creating images with the Metal Slug font.">
    <meta name="keywords" content="Metal Slug, Metal Slug Font, Metal Slug Font Reborn">
    <meta name="author" content="VermeilChan, SikroxMemer">
    <meta property="og:title" content="MetalSlugFontReborn">
    <meta property="og:description" content="A tool for creating images with the Metal Slug font.">
    <meta property="og:image" content="/static/assets/icons/logo.png">
    <meta property="og:url" content="https://vermeil.pythonanywhere.com/">
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="container">
        <div class="icons">
            <a href="https://github.com/VermeilChan/MetalSlugFontRebornWeb" target="_blank" rel="noopener noreferrer">
                <img src="/static/assets/icons/github.svg" title="GitHub repository" alt="GitHub repository" class="github" width="48" height="48">
            </a>
            </div>
        </div>
    </div>

        <img src="/static/assets/icons/Raubtier.webp" alt="Raubtier" class="header-image" width="189" height="243">
    </div>
        <h1>MetalSlugFontReborn</h1>

        <form id="form" action="/" method="post">
            <input type="text" name="text" placeholder="Enter Text" required="" oninvalid="setCustomValidity('Please enter some text.')" oninput="setCustomValidity('')">
    
            <select id="font" name="font">
                <option value="1">Font 1</option>
                <option value="2">Font 2</option>
                <option value="3">Font 3</option>
                <option value="4">Font 4</option>
                <option value="5">Font 5</option>
            </select>
    
            <select id="color" name="color">
                <option value="blue">Blue</option>
                <option value="orange">Orange</option>
                <option value="gold">Gold</option>
            </select>
    
            <input type="submit" value="Generate">
        </form>

        <section>
            {% if error %}
                <p class="error-message">
                    {{ error }}
                    {% if unsupported == 'FileNotFoundError' %}
                        check the supported characters <a href='/supported'>here</a>.
                    {% endif %}
                </p>
            {% else %}
                {% if state %}
                    <img id="image" src="{{ output }}" alt="Image"/>
                {% endif %}
            {% endif %}
        </section>

        <section id="supported">
            <p>Check out the list of <a href="/supported">supported characters</a> here.</p>
            <p>If you want to see how they look, you can view some <a href="/examples">examples</a> here.</p>
        </section>                
    </div>
    {% endblock %}
</body>
</html>
